@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* nav links */
.navbar-toggler {
    outline: none !important;
}
.toggler-icon {
    font-size: 2.5rem;
    color: darkslategray;
}
.nav-link {
    color: darkslategray;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}
.nav-link:hover {
    color: crimson;
}
  /* end of nav links */
  /* info icons */
.cart-info__icon {
    color: darkred;
    cursor: pointer;
}
  
.cart-info {
    border: 0.1rem solid darkslategrey;
    color: darkslategrey;
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}
.cart-info:hover {
    background: darkred;
    border-color: darkred;
    color: whitesmoke;
}
.cart-info:hover .cart-info__icon {
    color: whitesmoke;
}
  /* end of info icons */
  /* banner */
  
.max-height {
    min-height: calc(100vh - 76px);
    background: linear-gradient(darkred),
      url("/images/pizza1.jpg") center/cover fixed no-repeat;
    position: relative;
    background-image: url(../images/Pizza2.jpg);
}
.banner {
    color: whitesmoke;
    margin-top: -4rem;
}
.banner-title {
    color: crimson;
    font-size: 4rem;
}
.banner-link {
    font-size: 1.5rem;
    color: darkslategrey;
    border: 0.2rem solid darkslategrey;
}
.banner-link:hover {
    background: darkslategrey;
    color: crimson;
}
  /* endo of banner */
  /* cart  */
.cart {
    position: absolute;
    min-height: 10rem;
    background: whitesmoke;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.5);
    width: 0;
    overflow: hidden;
}
.show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}
.cart-item {
    transition: all 2s ease-in-out;
}
/* end of cart */
/* cart item */
.cart-item-remove {
    color: darkcyan;
    transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
    transform: scale(1.1);
    color: crimson;
}
#cart-item-price {
    font-size: 0.8rem;
}
/* cart item */
/* cart buttons */
.btn-pink {
    color: darkred !important;
    border-color: darkred !important;
}
.btn-black {
    color: darkslategrey !important;
    border-color: darkslategrey !important;
}
.btn-black:hover {
    color: darkred !important;
    background: darkslategray !important;
}
.btn-pink:hover {
    background: darkred !important;
    color: darkslategrey !important;
}
/* end of cart buttons */
  
/* about */
.about-img__container {
    position: relative;
}
  
.about-img__container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid crimson;
    z-index: -1;
    transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
    top: 0;
    left: 0;
}
  
/*end of  about */
  
/* store items */
.store {
    background: darkgray;
}
.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img-container img{
    width: 100%;
    height: 200px;
}
.store-img {
    transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
    transform: scale(1.2);
}
.store-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: cross-fade();
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon {
    transform: translate(0, 0);
}
.store-item-icon:hover {
    color: whitesmoke;
}
.store-item-value {
    color: crimson;
}
/*end of  store items */
.search-box {
    background: darkred;
    color: darkslategrey;
}
  
/* ligthbox */
  
.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6) !important;
    display: none;
}
.show {
    display: block;
}
  
.lightbox-holder {
    position: relative;
}
.lightbox-item {
    min-height: 80vh;
    background: url(../images/Pizza2.jpg) center/cover fixed no-repeat;
    background-image: url(../images/Pizza3.jpg);
    border-radius: 0.3rem;
}
.lightbox-close {
    color: crimson;
    font-size: 3rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.lightbox-close:hover {
    color: darkred;
}
  
.lightbox-control {
    position: absolute;
    font-size: 4rem;
    color: darkred;
    transition: all 1s linear;
    cursor: pointer;
}
.lightbox-control:hover {
    color: darkred;
}
.btnLeft {
    top: 50%;
    left: 0;
    transform: translateX(-60%);
}
.btnRight {
    top: 50%;
    right: 0;
    transform: translateX(60%);
}

.container-delivery{
    text-align: center;
    background-image: url(../images/Pizza3.jpg);
}

.deliver{
    display: none;
}

form{
    display: none;
    text-align: center;
}

.jumbotron{
    display: inline-block;
    text-align: center;
    background-image: url(../images/pizza1.jpg);
    background-size: cover;
    width: 100%;
    height: 200%;
}

footer{
    background-color: crimson;
}